<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   
    <div id="forms" class="row justify-content-center">
        <form action="/register" method="post" style=" width:40%; height:auto; padding:20px;">
            <h1 class="mt-2">Registration</h1>
            <input type="hidden" name="form_type" value="registration_form" />

            <label>Name</label>
            <input type="text" name="user_name" class="form-control" placeholder="Enter name" /> <br />
            
            <label>CWID</label>
            <input type="number" name="user_cwid" class="form-control" placeholder="Enter CWID" /> <br />

            <label>Password</label>
            <input type="password" name="user_pw" class="form-control" placeholder="Password" /> <br />

            <label>Confirm PW</label>
            <input type="password" name="user_confirm_pw" class="form-control" placeholder="Confirm Password" /> <br />

            <label>Height</label>
            <input type="number" name="user_height" class="form-control" placeholder="Enter Height" /> <br />

            <label>Weight</label>
            <input type="number" name="user_weight" class="form-control" placeholder="Enter Weight" /> <br />

            <label>Calorie Intake</label>
            <input type="number" name="user_calorie_intake" class="form-control" placeholder="Enter Calorie Intake" /> <br />

            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <form action="/login" method="post" style=" width:40%; height:auto; padding:20px">
            <h1 class="mt-2">Login</h1>
            <input type="hidden" name="form_type" value="login_form" />

            <label>CWID</label>
            <input type="number" name="user_confirm_pw" class="form-control" aria-describedby="emailHelp" placeholder="Enter CWID" /> <br />
            <label>Password</label>
            <input type="password" name="user_password" class="form-control" placeholder="Password" /> <br />
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>